NET "DAC<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "DAC<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "DAC<2>" LOC = P35 | IOSTANDARD = LVTTL;
NET "DAC<3>" LOC = P33 | IOSTANDARD = LVTTL;
NET "DAC<4>" LOC = P30 | IOSTANDARD = LVTTL;
NET "DAC<5>" LOC = P27 | IOSTANDARD = LVTTL;
NET "DAC<6>" LOC = P24 | IOSTANDARD = LVTTL;
NET "DAC<7>" LOC = P22 | IOSTANDARD = LVTTL;